@import "./reset.css";

#app {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start-raid-button {
  margin-top: 10px;
}

.result {
  border: 1px solid #333333;
  row-gap: 10px;

  margin-top: 20px;

  & tr {
    border-bottom: 1px solid #333333;
  }
  & td {
    padding: 10px;
  }
}

#player-hp,
#player-mp,
#boss-hp {
  min-width: 100px;
}

#boss-shape {
  padding: 20px 0;
}

.command {
  display: flex;
  justify-content: center;
  gap:10px;
  
  margin-top: 10px;
}

button {
  margin: 10px;
}

.hide {
  display: none;
}
